<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Welcome to Reddit (kek)</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<body>
<a th:href="@{/submit}">Submit new post</a>
<h2>Trending posts</h2>
<div class="table-responsive">
  <table class="table">
    <tbody>
    <tr th:each="post : ${postList}">
      <td th:text="${post.postScore}"></td>
      <td><a th:href="@{${post.getId()} + '/upvote'}">+</a></td>
      <td><a th:href="@{${post.getId()} + '/downvote'}">-</a></td>
      <td><a th:href="${post.getPostContent()}" th:text="${post.getPostTitle()}"></a></td>
      <td th:text="${post.getDatePosted()}"></td>
    </tr>
    </tbody>
  </table>
</div>
<br>
<ul class="pager">
  <li><a th:href="@{'/' + ${page - 1}}">Previous</a></li>
  <li><p th:text="${page}"></p></li>
  <li><a th:href="@{'/' + ${page + 1}}">Next</a></li>
</ul>
</body>

</html>