<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Nutrition</title>
  <meta charset="utf-8"/>
</head>

<body>
<p th:text="|This is ${foxToChangeNutrition.getName()}. Currently living on ${foxToChangeNutrition.getFood()} and ${foxToChangeNutrition.getDrink()}.|"></p>
<form th:action="@{/nutritionStore(name=${foxToChangeNutrition.getName()})}" th:object="${foxToChangeNutrition}" method="post">
  <label for="allFood">Food</label>
  <select id="allFood"
          name="allFood">
    <option th:each="food : ${}"
            th:text="${food}">

    </option>
  </select>
  <label for="allDrink">Drink</label>
  <select id="allDrink"
          name="allDrink">
    <option th:each="drink : ${drinkList}"
            th:text="${drink}">

    </option>
  </select>
  <button type="submit">Change</button>
</form>
</body>

</html>