<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Edit Todo</title>
</head>

<body>
<h1>Edit Todo</h1>
<form th:action="@{'/todo/' + ${editTodo.getId()} + '/edit'}" th:object="${editTodo}"
      th:method="post">
  <label for="title">Todo Description</label>
  <input type="text"
         id="title"
         name="title"
         th:field="*{title}"
  />
  <br>
  <label for="urgent">Urgent</label>
  <input type="checkbox"
         id="urgent"
         name="urgent"
         th:checked="*{urgent}"
         th:field="*{urgent}"
  />
  <br>
  <label for="done">Done</label>
  <input type="checkbox"
         id="done"
         name="done"
         th:checked="*{done}"
         th:field="*{done}"
  />
  <br>
  <label for="assignee">Assignee for the task:</label>
  <label for="assignee">Assignee</label>
  <select id="assignee"
          th:field="*{assigneeId}">
    <option th:each="assignee : ${assignees}" th:value="${assignee.id}"
            th:text="${assignee.name}"></option>
  </select>
  <br>
  <button type="submit">Submit</button>
  <a th:href="@{/todo/list}">Cancel</a>
</form>
</body>

</html>