body {
    margin: 25px;
    background-color: blue;
    width: 800px;
}

table {
    width: 100%;
    background-color: lightgray;
    color: gray;
    border-collapse: collapse;
}

thead {
    background-color: black;
    text-align: left;
}

tbody {
    background-color: white;
}

tbody td:nth-child(odd) {
    border-right: 2px solid darkgray;
}

tbody td:nth-child(even) {
    border-left: 2px solid darkgray;
}

tbody tr:nth-child(odd) {
    background-color: lightgray;
}

th, td {
    width: 50%;
    padding: 20px;
}

th {
    font-size: 25px;
    padding-left: 25px;
    border-bottom: 3px solid darkgray;
}

td {
    font-size: 20px;
}